In [ ]:
# python 
# python project
# Numpy
# pandas
# library project
# matplotlib
# sql
# basic project
# excel
# tableau
# power BI
# complex project

## Python Day1

In [1]:
# frist program

print('Hello World!')

# print is a function

Hello World!

In [2]:
# diffrent line
print("My name is suryam")

print('my age is 23')
#  whish to print in same line
print("My name is suryam",'my age is 23')

My name is suryam
my age is 23
My name is suryam my age is 23

In [2]:
# variable
name='suryam' 
age= 23 
price = 25.99 
 
print("name")
#  to print value
print(name)

print("my name is :", name)
print("my age is:", age)

name
suryam
my name is : suryam
my age is: 23

In [ ]:
print("my name is ", name ," and my age is", age)

my name is  suryam  and my age is 23

In [ ]:
# name
# Name
# nAme
# case sensitive

In [ ]:
#  it could contain any upper to lower case and digits or an underscore 

# myvariable, Variable_1 variable_for_print1 allowed

# not allowed 1variable we caanot keep digit first

# try to keep understundable name



type(name)

str

In [ ]:
# primary data type

# integer +ve 0 -ve
# string
# float decimal
# Boolean True or false
# None

In [ ]:
# variable name cannot be keywords if, else

In [ ]:
# keywords
# rserved word

# and , as assert, break, class, continue, def, del,elif,else,
# except,finally, False, for, from, global, if, import,in,is,lambda,
# nonlocal,None not, or,pass, raise, return, True, try, with, while,yield

In [ ]:
# Write a program to sum of two numbers
# a, b = map(int, input().split())
# result = lambda a,b : a+b
# print(result(a,b))

50

In [ ]:
"""
Type of operations

Arithmetic operations (+,-,*,/,%,**)

Relational /comarision operators (==,!=,<,>,<=,>=)

Assignment operators(=,+=,-=,*=,/=,%=,**=)

Logical operators(not, and, or)

"""

In [5]:
a, b

(20, 30)

In [ ]:
a= 20 
# a/5 = remainder modulus
# 6)20(3
#   18
#    2

In [10]:
print(a%6)

2

In [ ]:
# arithmetic operations

print(a+b) # sum
print(a-b) # sub
print(a*b) #multi
print(a/b) #div
print(a**b) #power
print(a%b) # modulus

50
-10
600
0.6666666666666666
1073741824000000000000000000000000000000
20

In [11]:
a , b= 20 , 30

In [12]:
# relational opeartors 

print(a==b) # eqaul to 
print(a!=b) # not equal to
print(a>=b) #grater or equal to 
print(a<=b) # smaller or equal to 
print(a>b) #grater than
print(a<b) # smaller than

False
True
False
True
False
True

In [6]:
# = assigment opperator
age = 23

# assigning value to the variable

In [13]:
# assignment operation
num = 10
num2= num+10 # can be rewritten 
num+=10 # in this ways
# num= num+ 10
# num+=10

print(num, num2)

# simmillarly for the diifrent assignment operator

20 20

In [1]:
num1= 10
num2= 20
print(num1+num2, type(num1+num2))

30 <class 'int'>

In [ ]:
# Type converstion (automatic converstion)

num1 = 10
# 10+2.34

# 10.0+2.234
num2 = 2.345
print(num1+num2)
type(num3)

12.345

float

In [13]:
#  type casting 
# num1= int("20")

# type(num1)

num1 = 20.34
num2=int(num1)
num2


# int- float -string
# string(numbers tabhi badla ja sakta ha ) -flaot - int

20

In [ ]:
# input 

# name = input('enter your name')
num = int(input('enter your age'))

# if we need float

# float(input())

# string
# int
# float
# nma2=input("enter your name")
# name1=input()

In [17]:
name1

'9'

In [1]:


numbers= list(map(int, input().split()))
sum = 0

n = len(numbers)

for num in numbers:
    sum=+num

print(sum/n)

6.333333333333333

In [4]:
n= int(input())
sum=0
for i in range(n):
    number= int(input())
    sum=+number
print(sum/n)

15.0

In [5]:
sum

90

In [ ]:
# WAP to input 2 number & print their sum
# WAP to input a side of square & print it area
# WAP to input 2 floating point number & print their average
# WAP to input 2 int number a and b. print True if a greater or equal to . 
# if not print False.

In [ ]:
"""
string

it is a data type that store a sequence of character

Basic operations

concatenation
"hello"+ "world" = "helloworld"

length of str
len(str)

"""

In [3]:
string= 'suryam        sourya'

len(string)

20

In [ ]:
str1= "hello this is string"
str2= 'hlloworld'
str3="""this also string"""

# "'"

In [ ]:
# escape sequence character
# \n next line
# \t tab space

In [ ]:
sentence= "This python revsion class. \nThis class is hosted by \tMR.suryam sourya"
print(sentence)

This python revsion class.
This class is hosted by 	MR.suryam sourya

In [20]:
# indexing

# s u r y a m _ s o u r  y  a
# 0 1 2 3 4 5 6 7 8 9 10 11 12

# stri= "suryam sourya"
# stri[0] is s
# stri[1] is u
# stri[6]='r' not possible

senten= "Muskan patyal"

senten[12]

# len(senten)

'l'

In [35]:
senten= "Muskan patyal"

# 1-5: 1, 2, 3, 4
# len(se)

# senten[1:len(senten)]
# senten[1:]
senten[-5:]
senten[:5]
senten[0:5]

senten[::-1]

# star stop step
senten[::3]

'Mk tl'

In [ ]:
# slicing
# Acessing part of a string
# str[staring_index:ending _index] ending index is not consider
# str[1:4] is 'ury'
# str[:4] is same as str[0:4]
# str[1:] is same as str[1:len(str)]

#   left to right flow indexing always

# negative index
#  A  P  P  l  E
# -5 -4 -3 -2 -1

In [ ]:
# str = “I am a coder.”

# str.endsWith(“er.“) #returns true if string ends with substr
# str.count(“am“) #counts the occurrence of substr in string
# str.capitalize( ) #capitalizes 1st char

# str.find( word ) #returns 1st index of 1st occurrence
# str.replace( old, new ) #replaces all occurrences of old with new

In [ ]:
# WAP to find the occurrence of ‘$’ in a String.
# WAP to input user’s first name & print its length.

In [ ]:
# Conditional Statements

# if-elif-else (SYNTAX)

# if(condition) :

# Statement1

# elif(condition):

# Statement2

# else:

# StatementN

<!-- Grade students based on marks

marks >= 90, grade =“A”

90 > marks >= 80, grade =“B”

80 > marks >= 70, grade =“C”

70 > marks, grade =“D” -->

In [ ]:
# Grade students based on marks

# marks >= 90, grade =“A”

# 90 > marks >= 80, grade =“B”

# 80 > marks >= 70, grade =“C”

# 70 > marks, grade =“D”

In [ ]:
# voter, traffic light

In [ ]:
# if , elif diffrence
# elif once if is flase the it look forward otherwise stop
# there will one else
# if, elif can be many

In [ ]:
# nesting conditional 
#  if inside if

In [ ]:
# wap to check if a number entererd by user is odd or even.
# wap to find greatest of three num entered by user.
# wap to check if a number is amultiple of 7 or not

In [ ]:
# wap to find largest of four no.

In [1]:
import os

In [3]:
print(os.getcwd())

c:\Users\Suriyam\Desktop\python\revesion

In [ ]:
# if else

# if can be repeat n no of times
# if 
# elif can be repeat n no of times
# elif 
# elif

# else:

In [1]:
num = 5

if num>2:
    print('grater than 2')
if num>3:
    print("grater than three")

grater than 2
grater than three

In [2]:
if num>2:
    print('grater than 2')
elif num>3:
    print("grater than three")

grater than 2

In [ ]:
if num>5:
    print('grater than 2') #false
elif num>3:
    print("grater than three")
# if num>4:
#     print("grater than four")

grater than three

In [6]:
# Nested

if num>2:
    print('grater than 2') #indentation
    if num>3:
        print("grater than three")
elif num>4:
    print("grater than four")

grater than 2
grater than three

In [9]:
# driving licence

age = 41

if age>= 18:
    print("eligible")
    if age>=40:
        print('renew')
else:
    print("not eligible")

eligible
renew

In [ ]:
# if 
# if 
# elif
# elif

# else

In [3]:
num = 5
if num>3:
    print('num is grater than three')  # if this tatement true thna elif dosenot occurs

elif num>4:
    print('num i sgrtaer than 4')
if num>4:
    print('num i sgrtaer than 4')

else:
    print("num is less tha 5")

num is grater than three
num i sgrtaer than 4

In [2]:
if num>3:
    print('num is grater than three')  # if this tatement true thna elif dosenot occurs

if num>4:
    print('num i sgrtaer than 4')
else:
    print("num is less tha 5")

num is grater than three
num i sgrtaer than 4

In [6]:
#  nested

age= 141

if age>=18:
    print('eligible to drive')
    if age>40:
        print('renew the driving licences')
else:
    print('not eligible to drive')

eligible to drive
renew the driving licences

In [ ]:
# create a calculator to perform arthemtic operation

In [ ]:
num1= int(input())
num2=int(input())
operator= input('enter arthemtic operation')

if operator=="+":
    print(num1+num2)

In [ ]:
l=[1,9,4,8,3,0]

In [4]:
l1=l.sort()

In [5]:
print(l1)

None