# loop

In [ ]:
# for loop

In [9]:
string = "ritu rani"
for char in string:
    print(char, end ="")

ritu rani

In [10]:
#
for rnum in range(10, 15):
    print("hi")
    for jnum in range(15, 18):
        print("hello")

hi
hello
hello
hello
hi
hello
hello
hello
hi
hello
hello
hello
hi
hello
hello
hello
hi
hello
hello
hello

In [14]:
for cnum in range(10, 20):
    if cnum <15:
        print("ritu")
    elif 15<=cnum <20:
        print('nitu')

ritu
ritu
ritu
ritu
ritu
nitu
nitu
nitu
nitu
nitu

In [2]:
num = 78905
count =0
if num >0:
    num = num //10
    count = count+1
print(count)

1

In [ ]:
num = 78905
count = 0

for _ in range(len(str(num))):
    num //= 10
    count += 1

print(count)

In [6]:
for i in range(1,6):
    for j in range(6-i,0,-1):
        print(j, end=' ')
    print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [9]:
l= [1, 2, 3,3, 6, 9]
r_l=reversed(l)
for i in r_l:
    print(i)

9
6
3
3
2
1