VARIABLE

In [15]:
a = 5

In [16]:
a

5

In [17]:
a = 'AMIT'

In [18]:
a

'AMIT'

In [19]:
a = AMIT

NameError: name 'AMIT' is not defined

In [20]:
a = "Amit"

In [21]:
b = 'Amit'

In [22]:
print(a)

Amit

In [23]:
print(b)

Amit

In [ ]:
n = "Mohan"

In [ ]:
print(n)

Mohan

In [ ]:
n = 'Mohan'

In [ ]:
print(n)

Mohan

In [ ]:
n = 'Mohan'

In [ ]:
t = "Anjali"

In [ ]:
print(t)

Anjali

In [ ]:
print(t)

Anjali

In [ ]:
t = "Amit"

In [ ]:
print(t)

Amit

In [ ]:
a = 1

In [ ]:
print(a)

1

In [ ]:
b = 1.2

In [ ]:
print(b)

1.2

In [ ]:
c= True

In [ ]:
print(c)

True

In [ ]:
c = True

In [ ]:
c = True

In [ ]:
c

True

In [ ]:
type(a)

int

In [ ]:
type(c)

bool

In [ ]:
a = 1   #integer
b = 1.2 #float
c = 'Mohan'  #string
d = False #Boolean

In [ ]:
print(a)

1

In [ ]:
print(b)

1.2

In [ ]:
print(c)

Mohan

In [ ]:
print(d)

False

In [ ]:
type(a)

int

In [ ]:
type(b)

float

In [ ]:
type(c)

str

In [ ]:
type(d)

bool

In [ ]:
name = 'Mohan'

In [ ]:
print(name)

Mohan

In [ ]:
xyz = 123

In [ ]:
print(xyz)

123

In [ ]:
print("hello world!")

hello world!

In [ ]:
name = 'Amit'

In [ ]:
name2 = "Amit"

In [ ]:
name == name2 #comparison operator

True

In [ ]:
a = 1
b =1.2
c= 'Ritika'
d = True

In [ ]:
type(b)

float

In [ ]:
b = '1'

In [ ]:
print(b)

1

In [ ]:
type(b)

str

In [ ]:
a = 5
b = 2

In [ ]:
a+b

7

In [ ]:
e = a-b
e

3

In [ ]:
b-a

-3

In [ ]:
a*b

10

In [ ]:
a/b

2.5

In [ ]:
b/a

0.4

In [ ]:
a%b

1

In [ ]:
a/b

2.5

In [ ]:
#floor division
a//b

2

In [ ]:
2 in (2,3,4,5)

True

In [ ]:
2 not in (2,3,4,5)

False

In [ ]:
s = 'This is python class'

In [ ]:
'java' in s

False

In [ ]:
'python' in s

True

WAP to make a calculator

if (condtion):
    'whatever i have do'
elif (condtion):
    'whatever'
elif     
else:
    'whatever i have to do'

In [24]:
a = int(input('Enter the first number: '))
b = int(input("Enter the second number: "))
c = int(input('Enter 1 for Add, 2 for Substract, 3 for Divide, 4 for Multipy'))

if c == 1:
    print('Addition of two numbers :',a+b)

elif c == 2:
    print('Substract two numbers :',a-b)

elif c == 3:
    print('Disivion :',a/b )

elif c == 4:
    print('Mulitplication :',a*b)
else:
    print('Please enter the valid number')

Disivion : 0.6666666666666666

10

STRING

In [ ]:
a = 'This is KVCH'

In [ ]:
type(a)

str

In [ ]:
b = "This is KVCH"

In [ ]:
type(b)

str

A N J A L I
0 1 2 3 4 5

In [ ]:
s = 'Anjali'

variable[start_index : stop_index+1]

In [ ]:
s[0 : 5]

'Anjal'

In [ ]:
s[-1]

'i'

In [ ]:
s[5]

'i'

In [ ]:
s[1]

'n'

In [ ]:
string = 'This is python second class and students are learning string'

In [ ]:
print(string)

This is python second class and students are learning string

In [ ]:
type(string)

str

In [ ]:
s1 = 'Amit'

In [ ]:
s2 = 'Singh'

String Concatenation

In [ ]:
s1 + s2

'AmitSingh'

In [ ]:
s = s1 + " " + s2 
s

'Amit Singh'

In [ ]:
"Mr. " + s

'Mr. Amit Singh'

In [ ]:
s

'Amit Singh'

In [ ]:
s[0] = 'T' #Immutablity

TypeError: 'str' object does not support item assignment

In [ ]:
s

'Amit Singh'

In [ ]:
s[1:]

'mit Singh'

In [ ]:
v = "T" + s[1 : ]

In [ ]:
v

'Tmit Singh'

In [28]:
s = 'Amit Singh'

In [29]:
print(s)

Amit Singh

In [ ]:
type(s)

str

In [ ]:
len(s)

4

In [ ]:
s.upper()

'AMIT'

In [ ]:
s.lower()

'amit'

In [ ]:
s.replace("Amit","Ritika")

'Ritika'

In [ ]:
s

'Amit Singh'

In [25]:
s = 'suryam sourya'

In [26]:
s

'suryam sourya'

In [27]:
print(s)

suryam sourya

In [30]:
s = 'Amit#########################'

In [31]:
s.rstrip('#')

'Amit'

In [ ]:
s ='$$$$$$$$$$$$$$$$Amit'

In [ ]:
s.lstrip('$')

'Amit'

In [ ]:
s = '@@@@@@@@@@@@@Amit###############'

In [ ]:
i = s.rstrip('#').lstrip('@')

In [ ]:
i

'Amit'

In [ ]:
i = 'Amit and Anjali are in python class'

In [ ]:
i.upper()

'AMIT AND ANJALI ARE IN PYTHON CLASS'

In [ ]:
i.upper().count('A')

6

In [ ]:
i.lower().count('a')

6

In [ ]:
string = 'This is python second class and students are learning string'

In [ ]:
string.find('python')

8

In [ ]:
string[8:14]

'python'

DATA STRUCTURES: 
- Can hold mulitple data type together

There are 4 Data Structures
 - Tuple
 - List
 - SET
 - Dictionary

-  TUPLE

 a = ('Mohan',12,'Maths',1,True)

- Properties
 - Immutable
 - Indexing/Slicing
 - Order is maintained

('Mohan',12,'Maths',1,True)
    0     1    2    3   4

In [ ]:
a = ('Mohan',12,'Maths',1,True)
a

('Mohan', 12, 'Maths', 1, True)

In [ ]:
type(a)

tuple

Indexing/Slicing

In [ ]:
a

('Mohan', 12, 'Maths', 1, True)

In [ ]:
a[-1]

True

variable[start:stop+1]

In [ ]:
a[0:2]

('Mohan', 12)

Immutability

In [ ]:
a

('Mohan', 12, 'Maths', 1, True)

In [ ]:
a[0] = 'Amit'

TypeError: 'tuple' object does not support item assignment

In [ ]:
a

('Mohan', 12, 'Maths', 1, True)

In [ ]:
b = ('Amit',)

In [ ]:
type(b)

tuple

In [ ]:
c =('',)

In [ ]:
print(c)

('',)

In [ ]:
type(c)

tuple

In [ ]:
d = tuple()

In [ ]:
type(d)

tuple

In [ ]:
e = (1,)

In [ ]:
type(e)

tuple

In [ ]:
a

('Mohan', 12, 'Maths', 1, True)

In [ ]:
a[1:]

(12, 'Maths', 1, True)

In [ ]:
b = ('Amit',)

In [ ]:
c = b + a[1:]

In [ ]:
c

('Amit', 12, 'Maths', 1, True)

In [ ]:
a

('Mohan', 12, 'Maths', 1, True)

In [ ]:
a[0] = 'Amit'

TypeError: 'tuple' object does not support item assignment

In [ ]:
c = ('Amit',)+ a[1:]
c

('Amit', 12, 'Maths', 1, True)

Nested Tuple 

- ('Amit',12,('Maths','English','Computer','Hindi'),1)
     0     1                    2                   3
                0          1        2          3

In [ ]:
d = ('Amit',12,('Maths','English','Computer','Hindi'),1)
d

('Amit', 12, ('Maths', 'English', 'Computer', 'Hindi'), 1)

In [ ]:
type(d)

tuple

In [ ]:
d[2][3]

'Hindi'

In [ ]:
d[2]

('Maths', 'English', 'Computer', 'Hindi')

In [ ]:
t = (1,2,3,4,5,)

In [ ]:
type(t)

tuple

In [ ]:
len(t)

5

In [ ]:
max(t)

5

In [ ]:
min(t)

1

In [ ]:
sum(t)

15

In [ ]:
t = (5,2,1,3,4,)

In [ ]:
sorted(t)

[1, 2, 3, 4, 5]

DATATYPE

- String
- Integer
- Float
- Boolean

In [ ]:
a = 1

In [ ]:
a

1

In [ ]:
b = 'Lucretia'
b

'Lucretia'

In [ ]:
a = 1
b = 1.2
c = 'John'
d = True

In [ ]:
type(b)

float

In [ ]:
#length of string
len(c)

4

DATA STRUCTURES

- LIST
- TUPLE
- SET
- DICTIONARY

 - LIST

 ['Lucretia',123,'PYTHON']

In [ ]:
b = ['Lucretia',123,'PYTHON']

In [ ]:
print(b)

['Lucretia', 123, 'PYTHON']

In [ ]:
type(b)

list

In [ ]:
b[1]

123

In [ ]:
b[0:2]

['Lucretia', 123]

['Lucretia',['Python','Powerbi','Tableau'],123]
               0            1           2  
     0                   1                  2

In [ ]:
e = ['Lucretia',['Python','Powerbi','Tableau'],123]
e

['Lucretia', ['Python', 'Powerbi', 'Tableau'], 123]

In [ ]:
e[0]

'Lucretia'

In [ ]:
e[0:3]

['Lucretia', ['Python', 'Powerbi', 'Tableau'], 123]

In [ ]:
e[0:2]

['Lucretia', ['Python', 'Powerbi', 'Tableau']]

In [ ]:
e[1]

['Python', 'Powerbi', 'Tableau']

In [ ]:
e[1][1]

'Powerbi'

In [ ]:
l = [5,4,2,1,3]

In [ ]:
sorted(l)

[1, 2, 3, 4, 5]

In [ ]:
l.append(6)

In [ ]:
l

[5, 4, 2, 1, 3, 6]

In [ ]:
c = [7,8]

In [ ]:
l

[5, 4, 2, 1, 3, 6]

In [ ]:
l.append(c)

In [ ]:
l

[5, 4, 2, 1, 3, 6, [7, 8]]

In [ ]:
d = [9,10]

In [ ]:
l.extend(d)

In [ ]:
l

[5, 4, 2, 1, 3, 6, [7, 8], 9, 10]

- del variable[position]
- variable.remove('exact thing that you want to remove')
- variable.pop()   : This will remove the last element

In [ ]:
l

[5, 4, 2, 1, 3, 6, [7, 8], 9, 10]

In [ ]:
del l[0]

In [ ]:
l.remove([7,8])

In [ ]:
l.pop()

10

In [ ]:
l

[4, 2, 1, 3, 6, 9]

In [ ]:
l

[4, 2, 1, 3, 6, 9, 10]

In [ ]:
l

[4, 2, 1, 3, 6, 9, 10]

In [ ]:
l

[4, 2, 1, 3, 6, [7, 8], 9, 10]

TUPLE

- Immutable: That's cannot be changed once defined.
- Indexing/Slicing
- Order is maintained

In [ ]:
d = (1,2,3,4,5)

In [ ]:
type(d)

tuple

In [ ]:
d[0]

1

In [ ]:
d[1]

2

In [ ]:
d[0:2]

(1, 2)

In [ ]:
d[0] = 6 #Immutable

TypeError: 'tuple' object does not support item assignment

In [ ]:
len(d)

5

In [ ]:
max(d)

5

In [ ]:
min(d)

1

In [ ]:
sum(d)

15

In [ ]:
sorted(d)

[1, 2, 3, 4, 5]

1,2,3,---> Whole No.   -----> Integer
1.2,1.3,1.4,2.9 ----> Decimal   ----> Float
'AMIT'  ----> Words  --------> String

Variable is like a Container. That can hold any data type

In [ ]:
v = 1

In [ ]:
type(v)

int

DATA STRUCTURE:
- TUPLE
- LIST
- SET
- DICTIONARY : KEY / VALUE

WAP to reverse the user-entered string

In [ ]:
s = 'Hello'

print(s[-1 :: -1])

olleH

In [ ]:
s = input('Please enter the string : ')

print(s[-1::-1])

timA

WAP to check if a string is palindrome or not

- MADAM  ---> MADAM  : PALINDROME
- AMIT   ---> TIMA   : NOT PALINDROME
- AVA    ---> AVA

In [ ]:
s = input("LMNOP : ")

revstr = s[::-1]

if revstr == s:
    print('PALINDROME')
else:
    print('Not PALINDROME')

In [ ]:
s = input('Enter the string :')

reverse_s = s[-1::-1]

if s == reverse_s:
    print('It is Palindrome')

else:
    print('Its NOT Palindrome')

Its NOT Palindrome

WAP to find the numbers vowels in the strings

In [ ]:
s = input('Enter the String')

s = s.lower()

vowels = "aeiou"
count = 0

for i in s:
    if i in vowels:
        count = count + 1
              
print(count)

2

In [ ]:
s = '1'

In [ ]:
print(s)

1

In [ ]:
type(s)

str

- SET

 - Unique Value 
 - Order Maintain
 - Indexing/Slicing not allowed

In [ ]:
# define
s = {1,2,2,3,4,4,4,4,4,4,5,5,5,55,5,5,5,5,55,5}

In [ ]:
print(s)

{1, 2, 3, 4, 5, 55}

In [ ]:
s = {1,2,3,4,5}
t = {3,4,5,6,7}

In [ ]:
s | t

{1, 2, 3, 4, 5, 6, 7}

In [ ]:
s & t

{3, 4, 5}

In [ ]:
s - t

{1, 2}

In [ ]:
s ^ t #symmetric difference

{1, 2, 6, 7}

In [ ]:
s.add(6)

In [ ]:
s

{1, 2, 3, 4, 5, 6}

In [ ]:
s.remove(6)

In [ ]:
s

{1, 2, 3, 4, 5}

In [ ]:
s.remove(5)

In [ ]:
s

{1, 2, 3, 4}

In [ ]:
v = {'Amit','Mohan','Ritika'}

In [ ]:
v.remove('Amit')

In [ ]:
v

{'Mohan', 'Ritika'}

DICTIONARY

- {key : value}
- Flexible
- Key is used for calling the value

In [ ]:
d = {"India":"INR","USA":"DOLLAR","GERMANY":"EUROS"}

In [ ]:
d

{'India': 'INR', 'USA': 'DOLLAR', 'GERMANY': 'EUROS'}

In [ ]:
d['India']

'INR'

In [ ]:
d['USA']

'DOLLAR'

In [ ]:
d.keys()

dict_keys(['India', 'USA', 'GERMANY'])

In [ ]:
d.values()

dict_values(['INR', 'DOLLAR', 'EUROS'])

In [ ]:
d.items()

dict_items([('India', 'INR'), ('USA', 'DOLLAR'), ('GERMANY', 'EUROS')])

In [ ]:
d

{'India': 'INR', 'USA': 'DOLLAR', 'GERMANY': 'EUROS'}

In [ ]:
d['JAPAN'] = 'Yen'

In [ ]:
d

{'India': 'INR', 'USA': 'DOLLAR', 'GERMANY': 'EUROS', 'JAPAN': 'Yen'}

In [ ]:
del d['JAPAN']

In [ ]:
d

{'India': 'INR', 'USA': 'DOLLAR', 'GERMANY': 'EUROS'}

In [ ]:
d['India'] = 'Rupees'

In [ ]:
d

{'India': 'Rupees', 'USA': 'DOLLAR', 'GERMANY': 'EUROS'}

In [ ]:
s = {'Japan':'Yen','Singapor':'Singapore $'}

In [ ]:
s

{'Japan': 'Yen', 'Singapor': 'Singapore $'}

In [ ]:
d

{'India': 'Rupees', 'USA': 'DOLLAR', 'GERMANY': 'EUROS'}

In [ ]:
d.update(s)

In [ ]:
d

{'India': 'Rupees',
 'USA': 'DOLLAR',
 'GERMANY': 'EUROS',
 'Japan': 'Yen',
 'Singapor': 'Singapore $'}

IF- ELSE STATEMENT

if <condition>:
    <whatever you want to do>

else:
    <whatever you want to do>

In [ ]:
n = int(input('Enter the number'))

if n == 10:
    print('Number is equal to 10')

else:
    print('Number is not equal to 10')

Number is equal to 10

WAP to print the number is 
small if number is less than 100
if number is greater than 100 but less than 1000 print number is medium
and if number is greater than 1000, print number is big

if <condition>:
    <whatever you want>
elif <condition>:
    <whatever you want>
elif <condition>:
    <whatever you want>
.
.
.
.
.
.
.
else:
    <whatever you want to do >

In [ ]:
n = int(input('Enter the number'))

if n<100:
    print("Number is small")

elif (n>=100) and (n<1000):
    print("Number is medium")

elif n>=1000:
    print('Number is Big')

else:
    print("Enter a positive number")

Number is Big

WAP to check the number is odd or not

In [ ]:
n = 13

In [ ]:
13%2

1

In [ ]:
8%2

0

In [ ]:
n%2

1

In [ ]:
n%2 != 0

True

In [ ]:
13%2 != 0

True

In [ ]:
14%2 != 0

False

In [ ]:
n = int(input('Enter the number'))

if n%2 == 0:
    print('Number is even')
else:
    print('Number is odd')

Number is even

In [ ]:
n = int(input('Enter the number'))

t = n%2 == 0

if t:
    print('Number is even')
else:
    print('Number is odd')

Number is even

- WAP to check the age eligiblity of the voter:

In [ ]:
n = int(input('Enter the age of the voter'))

if n >= 18:
    print('He/She can vote')
else:
    print('Cannot Vote')

He/She can vote

- WAP to check if the person if a senior citizen

In [ ]:
n = int(input("Enter the age"))

if n >= 60:
    print('Senior Citizen')
else:
    print('Not Senior Citizen')

Senior Citizen

In [ ]:
a = int(input('Enter the first number'))
b = int(input('Enter the second number'))

if (a>10) and (b>20):
    c = a + b
    print('We have to add')
    print(c)

else:
    c = a - b
    print('We have to substract')
    print(c)

We have to add
34

Python

- LIST : FLexibility (Add, Update, Delete)
- Tuple : Immutable (No add or update or delete)
- set : Maths, Duplicate values are not allowed
- Dictionary: key and value pair

In [ ]:
var = ['Dharmendra','B-tech',22,False]

In [ ]:
var

['Dharmendra', 'B-tech', 22, False]

In [ ]:
var.append('Amit')

In [ ]:
var

['Dharmendra', 'B-tech', 22, False, 'Amit']

In [ ]:
var.remove('Amit')

In [ ]:
var

['Dharmendra', 'B-tech', 22, False]

In [ ]:
var[0]

'Dharmendra'

In [ ]:
del var[0]

In [ ]:
var

['B-tech', 22, False]

In [ ]:
var.extend(['Dharmendra'])

In [ ]:
var

['B-tech', 22, False, 'Dharmendra']

Write a python program that takes an integer score as input and returns the corresponding grade based on the following criteria:
- If the score is 90 and above, return 'A'
- score is between 80 and 89, return 'B'
- score is between 70 and 79, return 'C'
- score is between 60 and 69 return 'D'
- score is below 60, return 'F'

In [ ]:
score = int(input('Enter the score'))

if score>= 90:
    print('A')
elif score >= 80 and score < 90:
    print('B')
elif score >= 70 and score < 80:
    print('C')
elif score >= 60 and score < 70:
    print('D')
else:
    print('F')

C

LOOP/Iterator

- List : [1,2,3,4,5]

In [ ]:
import time

In [ ]:
l = [1,2,3,4,5]

In [ ]:
for i in l:
    print(i)

1
2
3
4
5

In [ ]:
c = [1,2,3,4,5]

In [ ]:
c.append(6)

In [ ]:
c

[1, 2, 3, 4, 5, 6]

In [ ]:
ci =[]

In [ ]:
ci.append(3)

In [ ]:
ci

[1, 2, 3]

In [ ]:
l

[1, 2, 3, 4, 5]

In [ ]:
c = []
for i in l:
    j = i * 2
    c.append(j)

for i in list/string/tuple/dictinory/set:
    <whatever you do>

In [ ]:
for i in c:
    print(i)

2
4
6
8
10

In [ ]:
c

[2, 4, 6, 8, 10]

In [ ]:
c[0]

2

In [ ]:
c[4]

10

In [ ]:
len(c)

5

In [ ]:
range(len(c))

range(0, 5)

In [ ]:
for i in range(len(c)):
    print(c[i])

2
4
6
8
10

In [ ]:
for i in c:
    print(i)

2
4
6
8
10

In [ ]:
s = 'python class'

In [ ]:
for i in s:
    print(i)
    time.sleep(1)

p
y
t
h
o
n

c
l
a
s
s

In [ ]:
for i in range( len(s)  ):
    print(s[i])

p
y
t
h
o
n

c
l
a
s
s

In [ ]:
d = {'Amit':'Python','Mohan':'Java','Rikika':'Python','Suryam':'MERN'}

In [ ]:
d

{'Amit': 'Python', 'Mohan': 'Java', 'Rikika': 'Python', 'Suryam': 'MERN'}

In [ ]:
d.items()

dict_items([('Amit', 'Python'), ('Mohan', 'Java'), ('Rikika', 'Python'), ('Suryam', 'MERN')])

In [ ]:
for key,value in d.items():
    print(key,value)

Amit Python
Mohan Java
Rikika Python
Suryam MERN

In [ ]:
d['Sumit'] = 'Mr' + d['Amit']

In [ ]:
for key, val in d.items():
    d[key] = 'Mr' + d[key]

In [ ]:
d

{'Amit': 'MrPython',
 'Mohan': 'Java',
 'Rikika': 'Python',
 'Suryam': 'MERN',
 'Sumit': 'MrMrPython'}

In [ ]:
import pandas as pd

c:\Users\Arpit\anaconda3\lib\site-packages\numpy\_distributor_init.py:30: UserWarning: loaded more than 1 DLL from .libs:
c:\Users\Arpit\anaconda3\lib\site-packages\numpy\.libs\libopenblas.EL2C6PLE4ZYW3ECEVIV3OXXGRN2NRFM2.gfortran-win_amd64.dll
c:\Users\Arpit\anaconda3\lib\site-packages\numpy\.libs\libopenblas.fb5ae2tyxyh2ijrdkgdgq3xbklktf43h.gfortran-win_amd64.dll
  warnings.warn("loaded more than 1 DLL from .libs:"

In [ ]:
df = pd.DataFrame({'years':[2015,2016,2017,2018],'cars':[900,100,800,700],'color':['red','blue','green','yellow']})

In [ ]:
df

   years  cars   color
0   2015   900     red
1   2016   100    blue
2   2017   800   green
3   2018   700  yellow

In [ ]:
df[df['cars']>800] [['years','color']]

   years color
0   2015   red

- sort_values()

In [ ]:
df

   years  cars   color
0   2015   900     red
1   2016   100    blue
2   2017   800   green
3   2018   700  yellow

In [ ]:
df.sort_values(by=['cars'])

   years  cars   color
1   2016   100    blue
3   2018   700  yellow
2   2017   800   green
0   2015   900     red

DATA STRUCTURES

- LIST: 
        - FLexible (Update, Add, Delete)
        - Allows Indexing/Slicing
        - Order Maintain

In [ ]:
li = ['Suryam',20,'Python',False]

In [ ]:
li

['Suryam', 20, 'Python', False]

In [ ]:
li[-1]

False

In [ ]:
li[0:2]

['Suryam', 20]

- ADD

In [ ]:
li

['Suryam',
 20,
 'Python',
 False,
 8,
 'A',
 'm',
 'i',
 't',
 8,
 9,
 6,
 [8, 9, 6],
 'Amit',
 'Kumar']

In [ ]:
li.append([8,9,6])

In [ ]:
li.extend([8,9,6])

In [ ]:
a = 'Amit Kumar'

In [ ]:
li.extend(a.split(" "))

In [ ]:
li.append()
li.extend()

In [ ]:
li[0] = 'Sourya'

In [ ]:
li

['Sourya',
 20,
 'Python',
 False,
 8,
 'A',
 'm',
 'i',
 't',
 8,
 9,
 6,
 [8, 9, 6],
 'Amit',
 'Kumar']

del li[index]

li.remove('original element name')

li.pop()

In [ ]:
del li[0]

In [ ]:
li

[20,
 'Python',
 False,
 8,
 'A',
 'm',
 'i',
 't',
 8,
 9,
 6,
 [8, 9, 6],
 'Amit',
 'Kumar']

In [ ]:
li.remove('Python')

In [ ]:
li

[20, False, 8, 'A', 'm', 'i', 't', 8, 9, 6, [8, 9, 6], 'Amit', 'Kumar']

In [ ]:
li.pop()

'Kumar'

In [ ]:
li

[20, False, 8, 'A', 'm', 'i', 't', 8, 9, 6, [8, 9, 6], 'Amit']

In [ ]:
li = [5,4,3,8,1,6,7,9,10]

In [ ]:
li.sort()

In [ ]:
li

[1, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
a = sorted(li)

In [ ]:
a

[1, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
li

[5, 4, 3, 8, 1, 6, 7, 9, 10]

In [ ]:
a = [1,2,3,4,5,6,7,8,9,10]

In [ ]:
a[::3]

[1, 4, 7, 10]

- TUPLE:

 - Its not flexible
 - Order Maintain
 - Indexing

In [ ]:
t = (1,)

In [ ]:
type(t)

tuple

In [ ]:
t = (1,)

In [ ]:
t = (1,2,3,4,5,6)

In [ ]:
t[::2]

(1, 3, 5)

In [ ]:
t[0] = 7

TypeError: 'tuple' object does not support item assignment

DICTIONARY

- key:value
- var[key]: access the value

In [ ]:
d = {'USA':'Dollar','India':'Ruppes','JAPAN':'Yen'}

In [ ]:
d

{'USA': 'Dollar', 'India': 'Ruppes', 'JAPAN': 'Yen'}

In [ ]:
d['India']

'Ruppes'

In [ ]:
d.keys()

dict_keys(['USA', 'India', 'JAPAN'])

In [ ]:
d.values()

dict_values(['Dollar', 'Ruppes', 'Yen'])

In [ ]:
d.items()

dict_items([('USA', 'Dollar'), ('India', 'Ruppes'), ('JAPAN', 'Yen')])

In [ ]:
d['UK'] = 'Euros'

In [ ]:
d

{'USA': 'Dollar', 'India': 'Ruppes', 'JAPAN': 'Yen', 'UK': 'Euros'}

In [ ]:
d['India'] = 'INR'

In [ ]:
d

{'USA': 'Dollar', 'India': 'INR', 'JAPAN': 'Yen', 'UK': 'Euros'}

In [ ]:
del d['UK']

In [ ]:
d

{'USA': 'Dollar', 'India': 'INR', 'JAPAN': 'Yen'}

SET 

- It doesn't allow duplicate
- Order NOT Maintain
- Indexing isn't allowed

In [ ]:
s = {1,2,3,4,5,6,7,7,7,7,7,7,7,7,7,8}

In [ ]:
s

{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
li = [1,2,2,2,2,2,3,3,3,3,4,5]

In [ ]:
a = list(set(li))

In [ ]:
a

[1, 2, 3, 4, 5]

In [ ]:
s = {1,2,3,4,5}
t = {3,4,5,6,7}

In [ ]:
s|t

{1, 2, 3, 4, 5, 6, 7}

In [ ]:
s&t

{3, 4, 5}

In [ ]:
s-t

{1, 2}

In [ ]:
s^t

{1, 2, 6, 7}

FOR LOOP

In [ ]:
li = [1,2,3,4,5]

for i in li:
    print(i)

1
2
3
4
5

In [ ]:
for i in range(len(li)):
    print(li[i])

1
2
3
4
5

In [ ]:
li

[1, 2, 3, 4, 5]

In [ ]:
c = []
for i in li:
    c.append(i*2)

In [ ]:
c

[2, 4, 6, 8, 10]

In [ ]:
b = []
for i in range(len(li)):
    b.append(li[i]*2)

In [ ]:
b

[2, 4, 6, 8, 10]

In [ ]:
li = [1,2,3,4,5,6,7,8,9,10]

odd = []

for i in li:
    if i % 2 != 0:
        odd.append(i)

In [ ]:
odd

[1, 3, 5, 7, 9]

In [ ]:
li = [1,2,3,4,5,6,7,8,9,10]

odd = []
even = []

for i in li:
    if i % 2 != 0:
        odd.append(i)
    else:
        even.append(i)

In [ ]:
odd

[1, 3, 5, 7, 9]

In [ ]:
even

[2, 4, 6, 8, 10]

TUPLE

In [ ]:
t = (1,2,3,4,5,6,7,8,9,10)
c = []
for i in range(len(t)):
    if t[i] % 2 != 0:
        c.append(t[i])

In [ ]:
c

[1, 3, 5, 7, 9]

DICTIONARY

In [ ]:
d = {'USA':'Dollar','INDIA':'Rupee','RUSSIA':'ROUBLE','UK':'EUROS'}

In [ ]:
for i in d:
    print(i)

USA
INDIA
RUSSIA
UK

'EUROS'

In [ ]:
d

{'USA': 'Dollar', 'INDIA': 'Rupee', 'RUSSIA': 'ROUBLE', 'UK': 'EUROS'}

In [ ]:
for i in d:
    print(  d[i]  )

Dollar
Rupee
ROUBLE
EUROS

In [ ]:
d

{'USA': 'Dollar', 'INDIA': 'Rupee', 'RUSSIA': 'ROUBLE', 'UK': 'EUROS'}

In [ ]:
d['USA']

'Dollar'

In [ ]:
for i in d:
    print(d[i])

Dollar
Rupee
ROUBLE
EUROS

In [ ]:
d.items()

dict_items([('USA', 'Dollar'), ('INDIA', 'Rupee'), ('RUSSIA', 'ROUBLE'), ('UK', 'EUROS')])

In [ ]:
for key,val in d.items():
    print(key,val)

USA Dollar
INDIA Rupee
RUSSIA ROUBLE
UK EUROS

In [ ]:
for key,val in d.items():
    print(key, val)

USA Dollar
INDIA Rupee
RUSSIA ROUBLE
UK EUROS

In [ ]:
s ={1,2,3,4,5,6,7,8,9,10}
c = set()
for i in s:
    if i%2 != 0:
        c.add(i)

In [ ]:
c

{1, 3, 5, 7, 9}

In [ ]:
s = 'Amit Singh'

In [ ]:
s[0]

'A'

In [ ]:
for i in range(len(s)):
    print(s[i])

A
m
i
t

S
i
n
g
h

In [ ]:
for i in s:
    print(i)

A
m
i
t

S
i
n
g
h

 1,2,3       ---> INTEGER
 1.2,2.1,3.2 ---> FLOAT
 a,b,c,d     ---> CHAR
 amit,mukul..---> STRING

In [ ]:
a = 1

In [ ]:
print(a)

1

In [ ]:
a = 10.2
print(a)

10.2

In [ ]:
a= 1
b = 2.1
c = 'Amit'
d = True

In [ ]:
c

'Amit'

LIST

In [ ]:
c = ['Amit',29,'KVCH',10000,True]
c

['Amit', 29, 'KVCH', 10000, True]

In [ ]:
type(c)

list

LIST
- Flexible (update,add,delete)
- Indexing
- Order Maintain

In [ ]:
li = [1,100,200,4,5]

In [ ]:
type(li)

list

In [ ]:
li

[1, 100, 200, 4, 5]

In [ ]:
li[4]

5

In [ ]:
li = [1,2,222222,2,2,2,2,2,2,2,2,2,3,3,3,3,3,3]

In [ ]:
li[-1]

3

In [ ]:
li[0]

1

In [ ]:
li = [1,2,3,4,5,6,7,8,9,10]

In [ ]:
li[0:2]

[1, 2]

In [ ]:
li[0:3]

[1, 2, 3]

In [ ]:
li[:]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

list[start:stop:step]

In [ ]:
li[1::2]

[2, 4, 6, 8, 10]

In [ ]:
li[::3]

[1, 4, 7, 10]

In [ ]:
li[::2]

[1, 3, 5, 7, 9]

In [ ]:
li

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
li.append(11)

In [ ]:
li

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [ ]:
li.append('amit')

In [ ]:
li

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 'amit']

In [ ]:
li.append([9,10])

In [ ]:
li

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 'amit', [9, 10]]

In [ ]:
li.extend([9,10])

In [ ]:
li

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 'amit', [9, 10], 9, 10]

In [ ]:
li = [1,2,3,4,5]

In [ ]:
li.append(6)

In [ ]:
li

[1, 2, 3, 4, 5, 6]

In [ ]:
j = [7,8,9,10]

In [ ]:
li.extend(j)

In [ ]:
li[0] = 100

In [ ]:
li

[100, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
li[-1] = 200

In [ ]:
li

[100, 2, 3, 4, 5, 6, 7, 8, 9, 200]

- del list[index] #by index
- list.remove(100) #by name
- list.pop() #removes last element

In [ ]:
li

[100, 2, 3, 4, 5, 6, 7, 8, 9, 200]

In [ ]:
del li[0]

In [ ]:
li.remove(3)

In [ ]:
li

[4, 5, 6, 7, 8, 9, 200]

In [ ]:
li.pop()

200

In [ ]:
li

[4, 5, 6, 7, 8, 9]

In [ ]:
li.index(8)

4

In [ ]:
li.remove(4)

In [ ]:
li

[5, 6, 7, 8, 9]

In [ ]:
s = 'racecar'

In [ ]:
d = {}

In [ ]:
d

{'r': 1, 'a': 1, 'c': 2, 'e': 1}

In [ ]:

for i in s:
    if 'c' in d:
        d[i] = d[i] + 1
    else:
        d[i] = 1

In [ ]:
d

{'r': 2, 'a': 2, 'c': 2, 'e': 1}

In [ ]:
d = {}

In [ ]:
s ='racecar'

In [ ]:
d['r'] = 1

In [ ]:
d[i] = d[i] + 1

In [ ]:
d

{'r': 2}

In [ ]:
d = {}
for i in s:
    if i not in d:
        d[i] = 1
    else:
        d[i] = d[i] + 1

In [ ]:
d

{'r': 2, 'a': 2, 'c': 2, 'e': 1}

enumarate

In [ ]:
l =['Amit','Mohan','Suryam','Ritika']

In [ ]:
for index,name in enumerate(l):
    print(index, name)

0 Amit
1 Mohan
2 Suryam
3 Ritika

In [ ]:
l

['Amit', 'Mohan', 'Suryam', 'Ritika']

In [ ]:
d ={}
for i in l:
    d[i] = len(i)

In [ ]:
d

{'Amit': 4, 'Mohan': 5, 'Suryam': 6, 'Ritika': 6}

Function

In [ ]:
def square_num(x):
    return x*2

In [ ]:
def sum_num(a,b):
    return a+b

In [ ]:
def odd_even(num):
    if num%2 != 0:
        return 'odd'
    else:
        return 'even'

In [ ]:
odd_even(4)

'even'

In [ ]:
sum_num(2,3)

5

In [ ]:
square_num(3)

6

In [ ]:
def count_alpha(x):
    d = {}
    for i in x:
        if i not in d:
            d[i] = 1
        else:
            d[i] =d[i] + 1
    return d

In [ ]:
count_alpha('Racecar')

{'R': 1, 'a': 2, 'c': 2, 'e': 1, 'r': 1}